@using FluentPxeServer.Components.Settings
@inherits LayoutComponentBase
@inject IAppVersionService AppVersionService

<div>
    <FluentLayout>
        <FluentHeader Class="siteheader">
                <div class="header-container">
                    <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
                        <a href="/" aria-label="Back to the homepage"><img src="favicon.png" alt="" />
                        </a>
                    </div>
                  
                </div>
                <div class="header-text">
                    <FluentLabel>PXE Server & VNC Console</FluentLabel>
                </div>
            <FluentSpacer/>

            <div class="notifications">
                <NotificationCenter/>
            </div>
            <div class="settings">
                <SiteSettings/>
            </div>

        </FluentHeader>

        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <NavMenu/>
            <div class="sidebar"></div>
            <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
                <div class="content">
                    <FluentCard>
                    @Body
                    </FluentCard>
                </div>
            </FluentBodyContent>
            <FluentToastProvider Position="ToastPosition.TopCenter" MaxToastCount="10" />
            <FluentDialogProvider />
            <FluentTooltipProvider />
            <FluentKeyCodeProvider />
            <FluentMenuProvider />
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white;  font-size: var(--type-ramp-minus-1-font-size); line-height: var(--type-ramp-base-line-height);")">
            <div class="version">
                Version: @AppVersionService.Version
                &nbsp;-&nbsp;
                <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Powered by @AppVersionService.CompanyName</a>
            </div>
            <FluentSpacer/>
            <div class="copy">
                © @DateTime.Now.Year, @AppVersionService.Copyright, All rights reserved.
            </div>
        </FluentFooter>
    </FluentLayout>
</div>