@inherits LayoutComponentBase
@inject IAppVersionService AppVersionService
<style>
    .header-container {
        display: flex;
        align-items: center; /* 垂直居中对齐 */
        gap: 1px; /* 两个元素之间的间距 */
    }

    .logo img {
        /* 根据需要设置图片大小 */
        width: 40px;
        height: 40px;
    }

    h1 {
        margin: 0; /* 去除默认外边距 */
        font-size: 1.5rem;
    }
</style>
<div>
    <FluentLayout>
        <FluentHeader Class="siteheader">
            <a href="/" aria-label="Back to the homepage">
                <div class="header-container">
                    <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
                        <img src="favicon.png" alt=""/>
                    </div>
                    <h1>PXE Server & VNC Console</h1>
                </div>
            </a>
            <FluentSpacer/>

            <div class="notifications">
                <NotificationCenter/>
            </div>
            <div class="settings">
                <SiteSettings/>
            </div>

        </FluentHeader>

        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <NavMenu/>
            <div class="sidebar"></div>
            <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
                <div class="content">
                    @Body
                    @*<article id="article">

                        <FluentMessageBarProvider Section="@App.MESSAGES_TOP" ClearAfterNavigation="true"/>

                    </article>*@

                    <FluentToastProvider MaxToastCount="10"/>
                    <FluentDialogProvider/>
                    <FluentTooltipProvider/>
                    <FluentKeyCodeProvider/>
                    <FluentMenuProvider/>

                </div>
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white;  font-size: var(--type-ramp-minus-1-font-size); line-height: var(--type-ramp-base-line-height);")">
            <div class="version">
                Version: @AppVersionService.Version
                &nbsp;-&nbsp;
                <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Powered by @AppVersionService.CompanyName</a>
            </div>
            <FluentSpacer/>
            <div class="copy">
                © @DateTime.Now.Year, @AppVersionService.Copyright, All rights reserved.
            </div>
        </FluentFooter>
    </FluentLayout>
</div>