@rendermode InteractiveServer

<div class="navmenu">
  
    <nav class="sitenav" aria-labelledby="main-menu">
      
        <FluentAppBar Orientation="Orientation.Vertical">
            <FluentAppBarItem Href="/" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.Home())" IconRest="@(new Icons.Regular.Size20.Home())" Text="首页"></FluentAppBarItem>
            <FluentAppBarItem Href="/pxe" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.Server())" IconRest="@(new Icons.Regular.Size20.Server())" Text="PXE服务器"></FluentAppBarItem>
            <FluentAppBarItem Href="/dhcp" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.AgentsAdd())" IconRest="@(new Icons.Regular.Size20.AgentsAdd())" Text="DHCP服务"></FluentAppBarItem>
            <FluentAppBarItem Href="/tftp" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.DocumentDatabase())" IconRest="@(new Icons.Regular.Size20.DocumentDatabase())" Text="TFTP服务"></FluentAppBarItem>
            <FluentAppBarItem Href="/kickstart" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.AppsList())" IconRest="@(new Icons.Regular.Size20.AppsList())" Text="启动菜单"></FluentAppBarItem>
            <FluentAppBarItem Href="/iso" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.DeveloperBoard())" IconRest="@(new Icons.Regular.Size20.DeveloperBoard())" Text="系统镜像"></FluentAppBarItem>
            <FluentAppBarItem Href="/vnc" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.DesktopCursor())" IconRest="@(new Icons.Regular.Size20.DesktopCursor())" Text="VNC控制台"></FluentAppBarItem>
        </FluentAppBar>
    </nav>
</div>

@code {
    private bool expanded = true;
}