@rendermode InteractiveServer

<div class="navmenu">
  
    <nav class="sitenav" aria-labelledby="main-menu">
      
        <FluentAppBar Orientation="Orientation.Vertical">
            <FluentAppBarItem Href="/" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.Home())" IconRest="@(new Icons.Regular.Size20.Home())" Text="首页"></FluentAppBarItem>
            <FluentAppBarItem Href="/pxe" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconRest="@(new Icons.Regular.Size20.Home())"  Text="PXE服务器"></FluentAppBarItem>
            <FluentAppBarItem Href="/dhcp" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.Server())"  IconRest="@(new Icons.Regular.Size20.Home())" Text="DHCP服务"></FluentAppBarItem>
            <FluentAppBarItem Href="/tftp" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.Document())"  IconRest="@(new Icons.Regular.Size20.Home())" Text="TFTP服务"></FluentAppBarItem>
            <FluentAppBarItem Href="/kickstart" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.MeetNow())"  IconRest="@(new Icons.Regular.Size20.Home())" Text="启动菜单"></FluentAppBarItem>
            <FluentAppBarItem Href="/iso" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.Image())"  IconRest="@(new Icons.Regular.Size20.Home())" Text="系统镜像"></FluentAppBarItem>
            <FluentAppBarItem Href="/vnc" Match="NavLinkMatch.All" IconActive="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())"  IconRest="@(new Icons.Regular.Size20.Home())" Text="VNC控制台"></FluentAppBarItem>
        </FluentAppBar>
    </nav>
</div>

@code {
    private bool expanded = true;
}